<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <div id="app">
        <!-- <label for="">
            <input type="checkbox" id="xieyi" v-model="isAgree">同意协议
        </label>
        <button :disabled="!isAgree">下一步</button> -->
       
            <input type="checkbox" value="篮球" name="" id="" v-model="hobbies">篮球
            <input type="checkbox" value="足球" name="" id="" v-model="hobbies">足球
            <input type="checkbox" value="网球" name="" id="" v-model="hobbies">网球
            <input type="checkbox" value="棒球" name="" id="" v-model="hobbies">棒球
    </div>
    <script src="../js/vue.js"></script>
    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                isAgree: false, //单选框
                hobbies:[] //多选框
            },
            methods:{
            },
        })
    </script>
</body>
</html>